raw_data/market_master_data/xsd/AnlagenEegWind.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenEegWind">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AnlageEegWind" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="Registrierungsdatum"/>
              <xs:element type="xs:dateTime" name="DatumLetzteAktualisierung"/>
              <xs:element type="xs:date" name="EegInbetriebnahmedatum"/>
              <xs:element type="xs:string" name="EegMaStRNummer"/>
              <xs:element type="xs:string" name="AnlagenkennzifferAnlagenregister" minOccurs="0"/>
              <xs:element name="AnlagenkennzifferAnlagenregister_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="AnlagenschluesselEeg" minOccurs="0"/>
              <xs:element name="PrototypAnlage" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="PilotAnlage" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:float" name="InstallierteLeistung"/>
              <xs:element type="xs:float" name="VerhaeltnisErtragsschaetzungReferenzertrag" minOccurs="0"/>
              <xs:element name="VerhaeltnisErtragsschaetzungReferenzertrag_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:float" name="VerhaeltnisReferenzertragErtrag5Jahre" minOccurs="0"/>
              <xs:element name="VerhaeltnisReferenzertragErtrag5Jahre_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:float" name="VerhaeltnisReferenzertragErtrag10Jahre" minOccurs="0"/>
              <xs:element name="VerhaeltnisReferenzertragErtrag10Jahre_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:float" name="VerhaeltnisReferenzertragErtrag15Jahre" minOccurs="0"/>
              <xs:element name="VerhaeltnisReferenzertragErtrag15Jahre_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="AusschreibungZuschlag" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Zuschlagsnummer" minOccurs="0"/>
              <xs:element name="AnlageBetriebsstatus">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="35"/>
                    <xs:enumeration value="38"/>
                    <xs:enumeration value="37"/>
                    <xs:enumeration value="31"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>