raw_data/market_master_data/xsd/AnlagenEegSpeicher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenEegSpeicher">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AnlageEegSpeicher" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="Registrierungsdatum"/>
              <xs:element type="xs:dateTime" name="DatumLetzteAktualisierung"/>
              <xs:element type="xs:date" name="EegInbetriebnahmedatum"/>
              <xs:element type="xs:string" name="EegMaStRNummer"/>
              <xs:element type="xs:string" name="AnlagenschluesselEeg"/>
              <xs:element name="AusschreibungZuschlag" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Zuschlagsnummer"/>
              <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>