raw_data/market_master_data/xsd/AnlagenKwk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AnlagenKwk">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AnlageKwk" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="KwkMastrNummer"/>
              <xs:element name="AusschreibungZuschlag" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Zuschlagnummer" minOccurs="0"/>
              <xs:element type="xs:dateTime" name="DatumLetzteAktualisierung" minOccurs="0"/>
              <xs:element type="xs:date" name="Inbetriebnahmedatum" minOccurs="0"/>
              <xs:element type="xs:date" name="Registrierungsdatum" minOccurs="0"/>
              <xs:element type="xs:float" name="ThermischeNutzleistung" minOccurs="0"/>
              <xs:element type="xs:float" name="ElektrischeKwkLeistung" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>