raw_data/market_master_data/xsd/EinheitenGenehmigung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EinheitenGenehmigung">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EinheitGenehmigung" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="GenMastrNummer"/>
              <xs:element type="xs:dateTime" name="DatumLetzteAktualisierung"/>
              <xs:element name="Art">
                <xs:simpleType>
                  <xs:restriction base="xs:short">
                    <xs:enumeration value="846"/>
                    <xs:enumeration value="847"/>
                    <xs:enumeration value="41"/>
                    <xs:enumeration value="845"/>
                    <xs:enumeration value="2555"/>
                    <xs:enumeration value="40"/>
                    <xs:enumeration value="848"/>
                    <xs:enumeration value="39"/>
                    <xs:enumeration value="2556"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:date" name="Datum"/>
              <xs:element type="xs:string" name="Behoerde"/>
              <xs:element type="xs:string" name="Aktenzeichen" minOccurs="0"/>
              <xs:element type="xs:date" name="Frist" minOccurs="0"/>
              <xs:element name="Frist_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="WasserrechtsNummer" minOccurs="0"/>
              <xs:element type="xs:date" name="WasserrechtAblaufdatum" minOccurs="0"/>
              <xs:element name="WasserrechtAblaufdatum_nv">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:date" name="Registrierungsdatum"/>
              <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>