raw_data/market_master_data/xsd/Katalogwerte.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Katalogwerte">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Katalogwert" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="Id"/>
              <xs:element type="xs:string" name="Wert"/>
              <xs:element type="xs:short" name="KatalogKategorieId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>