raw_data/market_master_data/xsd/Lokationen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Lokationen">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Lokation" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="DatumLetzteAktualisierung" minOccurs="0"/>
              <xs:element type="xs:string" name="MastrNummer"/>
              <xs:element type="xs:string" name="NameDerTechnischenLokation" minOccurs="0"/>
              <xs:element name="Lokationtyp">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="VerknuepfteEinheitenMaStRNummern"/>
              <xs:element type="xs:string" name="NetzanschlusspunkteMaStRNummern" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>