raw_data/market_master_data/xsd/Netze.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Netze">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Netz" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="DatumLetzteAktualisierung" minOccurs="0"/>
              <xs:element type="xs:string" name="MastrNummer"/>
              <xs:element name="Sparte">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="KundenAngeschlossen" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="GeschlossenesVerteilnetz" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:byte">
                    <xs:enumeration value="0"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element type="xs:string" name="Bezeichnung" minOccurs="0"/>
              <xs:element type="xs:int" name="Marktgebiet" minOccurs="0"/>
              <xs:element type="xs:string" name="Bundesland" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>